
	
	<div class="sub-banner">
		<img src="assets/img/about-banner.jpg" alt="">
		<div class="banner-content-inner">
			<!--<h1>Company Information</h1>-->
			<h1>What is yellotasker?</h1>
		</div>
	</div>
	
	<div class="client-say">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 text-center">
					<h2>Fun tasks, exceptional people</h2>
				</div>
			</div>
			<div class="row client-sec">
				<div class="col-sm-3 text-center">
					<div class="comment-box">
					   <div class="client-pic">
						<img src="assets/img/task-person.png">
					    </div>
						<div class="client-comment">
							<p>
								My son’s birthday was around the corner & I needed a fancy birthday cake. Posted my task for free on Yellotasker and Mira agreed to help, cake tasted sooo good!! "

							</p>
							<p class="client-name">
								<b>Azi, 34</b>
							</p>
						</div>
					</div>
				</div>
				
			<div class="col-sm-3 text-center">
					<div class="comment-box">
					<div class="client-pic">
						<img src="assets/img/task-person.png">
					</div>
						<div class="client-comment">
							<p>
								Who knew helping update resumes and LinkedIn profiles paid so well.
							</p>
							<p>
								<b>Haziq, 19</b>
							</p>
						</div>
					</div>
				</div>
				
				<div class="col-sm-3 text-center">
					<div class="comment-box">
					<div class="client-pic">
						<img src="assets/img/task-person.png">
					</div>
						<div class="client-comment">
							<p>
								Who knew helping update resumes and LinkedIn profiles paid so well.
							</p>
							<p>
								<b>Haziq, 19</b>
							</p>
						</div>
					</div>
				</div>
				
				<div class="col-sm-3 text-center">
					<div class="comment-box">
					<div class="client-pic">
						<img src="assets/img/task-person.png">
					</div>
						<div class="client-comment">
							<p>
								Who knew helping update resumes and LinkedIn profiles paid so well.
							</p>
							<p>
								<b>Haziq, 19</b>
							</p>
						</div>
					</div>
				</div>
				
				
			</div>
		</div>
	
		<p class="special-text">
			Yellotasker is a community that connects people who need tasks done, with people who are looking to earn money and ready to work. Simple, secure and free.
		<br/><br/>
		
</p>
	

<div class="container">
		
			<div class="row">
				<div class="col-sm-4">
					<div class="how-step">
						<div class="step-img">
							<img src="assets/img/how-step-1.png">
						</div>
						<h4>Something need doing?</h4>
						<p>Free to Post any task in 3 easy steps and receive no obligation quotes quickly. Simple.
						</p>
					</div>
				</div>
				
				<div class="col-sm-4">
					<div class="how-step">
						<div class="step-img">
							<img src="assets/img/how-step-2.png">
						</div>
						<h4>Looking for freedom? </h4>
						<p>Yellotasker allows you to earn when, how and where you want by completing physical or digital tasks. Nothing beats flexibility.
						</p>
					</div>
				</div>
				
				<div class="col-sm-4">
					<div class="how-step">
						<div class="step-img">
							<img src="assets/img/how-step-3.png">
						</div>
						<h4>Join Yellotasker now </h4>
						<p> to post and browse thousands of available tasks.
						</p>
					</div>
				</div>
			</div>
		</div>
        
		

<div class="container">
		<h2>The Yellotasker mission objective</h2>
<p>
	Enable simple, secure and free access to Malaysia’s, and soon South East Asia’s task community
<br/><br/>
</p>
</div>
		

	</div>
	
