
	<div class="sub-banner">
		<img src="assets/img/about-banner.jpg" alt="">
		<div class="banner-content-inner">
			<h1>House Cleaning Services</h1>
			<h3>Lorem ipsum sit amet is the dummy text</h3>
		</div>
	</div>
	
	<div class="category-detail-page">
		<div class="container">
			<div class="row">
				<div class="col-sm-12" style="background: #f9f9f9; border: 1px solid #ccc; padding-left: 0px;">
					<div class="cotegory-image">
						<img src="assets/img/detail-banner.jpg">
					</div>
					<div class="cotegory-conent">
						<h2>House Cleaning Services</h2>
						<p>Lorem ipsum dolor sit amet is hjl dsj the dummy text describing dummy Lorem Lorem 
ipsum dolor ipsum dolor sit amet is hjl dsj the dummy text for describing Lorem ipsum
dolor Lorem ipsum dolor sit amet is hjl dsj the dummy text describing dummy Lorem 
Lorem  ipsum dolor ipsum dolor sit amet is hjl dsj the dummy text for describing.</p>
<p>Trusted, insurance covered cleaners</p>
<p>Flexible, from a quick dust to end of lease cleans</p>
<p>Free, no obligation quotes</p><br/>
<a href="#" class="cate-detail-get">Get started now</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="detail-main text-center">
		<div class="container">
		<h2>House Cleaning Services - Residential Local House Cleaners</h2>
		<br/>
<p>
	Lorem ipsum dolor sit amet is hjl dsj the dummy text describing dummy Lorem Lorem  ipsum dolor ipsum dolor sit amet is hjl dsj
the dummy text for describing Lorem ipsum dolor Lorem ipsum dolor sit amet is hjl dsj the dummy text describing dummy Lorem  Lorem  ipsum dolor ipsum dolor
sit amet is hjl dsj the dum my text for describing.<br/><br/>

Lorem ipsum dolor sit amet is hjl dsj the dummy text describing dummy Lorem Lorem  ipsum dolor ipsum dolor sit amet is hjl dsj
the dummy text for describing Lorem ipsum dolor Lorem ipsum dolor sit amet is hjl dsj the dummy text describing dummy Lorem  Lorem  ipsum dolor ipsum dolor<br/><br/>

Lorem ipsum dolor sit amet is hjl dsj the dummy text describing dummy Lorem Lorem  ipsum dolor ipsum dolor sit amet is hjl dsj
the dummy text for describing Lorem ipsum dolor Lorem ipsum dolor sit amet is hjl dsj the dummy te
</p>
</div>
	</div>
	
	<div class="recent-task" style="background:#f9f9f9;">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h2>Recently Completed Task</h2>
				</div>
			</div>
			<div class="row task-comment text-center">
				<div class="col-sm-3">
					<div class="task-box">
						<img src="assets/img/task-person.png" alt="" class="human-pic">
						<p>Lorem ipsum dolor sit amet is hjl dsj 
the dummy text  describing dummy Lorem ipsum dolor sit amet is hjl dsj 
the dummy text for describing
</p>
					
					</div>
				</div>
				<div class="col-sm-3">
					<div class="task-box">
						<img src="assets/img/task-person.png" alt="" class="human-pic">
						<p>Lorem ipsum dolor sit amet is hjl dsj 
the dummy text  describing dummy Lorem ipsum dolor sit amet is hjl dsj 
the dummy text for describing
</p>
					
					</div>
				</div>
				<div class="col-sm-3">
					<div class="task-box">
						<img src="assets/img/task-person.png" alt="" class="human-pic">
						<p>Lorem ipsum dolor sit amet is hjl dsj 
the dummy text  describing dummy Lorem ipsum dolor sit amet is hjl dsj 
the dummy text for describing
</p>
					
					</div>
				</div>
				<div class="col-sm-3">
					<div class="task-box">
						<img src="assets/img/task-person.png" alt="" class="human-pic">
						<p>Lorem ipsum dolor sit amet is hjl dsj 
the dummy text  describing dummy Lorem ipsum dolor sit amet is hjl dsj 
the dummy text for describing
</p>
					
					</div>
				</div>
			</div>
			</div>
		</div>