<div class="reset-password-section">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h1 class="text-center">Reset Your Password</h1>
					<form class="reset-form" #resetForm="ngForm" (ngSubmit)="resetPassword(resetForm.value, resetForm.valid);" 
                      novalidate>
					    <label class="error-text">
                			{{errorMessage}}
                 		</label>
						<label class="error-text" *ngIf = "successIndicator" style="color:green;">
                			Password reset successfully. Please login to continue. 
                 		</label>
						<div class="form-group">
						<label>New Password <span style="color:red;">*</span></label>
						<input type="password" required tabindex="1" autofocus [(ngModel)]="user.password"
						#password ="ngModel" name="password" >
						</div>
						<div class="form-group">
						<label>Confirm Password <span style="color:red;">*</span></label>
						<input type="password" required tabindex="2" [(ngModel)]="user.confirm_password"
						#confirm_password ="ngModel" name="confirm_password">
						</div>
						 <small *ngIf = "passwordIndicator" class="pull-left">
							 Password and confirm password are not same.
					     </small>
						<!--<a (click)="resetPassword()">Reset Password</a>-->
						<input id="login-button" class="reset-btn" 
                        type="submit" value="Reset Password"/>
					</form>
				</div>
			</div>
		</div>
	</div>