<div class="how-it-works-process">
		<div class="container">
			<div class="row">
					<div class="col-sm-12 text-center why-head">
							<h2>How Yellotasker works?</h2>
						</div>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<div class="how-step">
						<div class="step-img">
							<img src="assets/img/how-step-1.png">
						</div>
						<h4>Post a task for free</h4>
						<p>Yello! It’s simple, secure and free to post any tasks. Exceptional Taskers will quickly reply with quotes for your
review. Relax – there is no obligation to hire.</p>
					</div>
				</div>
				
				<div class="col-sm-4">
					<div class="how-step">
						<div class="step-img">
							<img src="assets/img/how-step-2.png">
						</div>
						<h4>Review quotes and select a Tasker</h4>
						<p>Surprised to get quality quotes within your budget? The best part – your contact details stay hidden so no
unsolicited calls or texts to deal with. Review quotes and select the best Tasker.</p>
					</div>
				</div>
				
				<div class="col-sm-4">
					<div class="how-step">
						<div class="step-img">
							<img src="assets/img/how-step-3.png">
						</div>
						<h4>Pay when task is completed.</h4>
						<p>Yaaay! Release the money held in escrow when your task is done. Help the Yellotasker community grow by
writing a simple review.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="services-section">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 text-center">
					<h2>Simple to get things done quickly within your budget</h2>
				</div>
			</div>
			
			<div class="row">
				<div class="col-sm-12 yello-how-content">
					<div class="budget-content">
						<div class="budget-icon"><i class="fa fa-handshake-o" aria-hidden="true"></i></div>
						<h4>Join and post a task for free!</h4>
						<p>You have something that needs doing and you want it done quickly within your budget. <a (click)="openPostTaskPopup()"><u>Post any task</u></a> in 3 easy
steps and receive no obligation quotes from the community. Simple.</p>
					</div>
					<div class="budget-content">
						<div class="budget-icon"><i class="fa fa-newspaper-o" aria-hidden="true"></i></div>
						<h4>Your contact details kept confidential</h4>
						<p>Everybody loves their privacy and we do too – <a [routerLink] ="['/trust-and-safety']"><u>trust</u></a> is everything. Our technology is built to keep your contact
details hidden until you choose to share it.</p>
					</div>
					<div class="budget-content">
						<div class="budget-icon"><i class="fa fa-address-card-o" aria-hidden="true"></i></div>
						<h4>Use reviews to choose the best Tasker</h4>
						<p>Everybody has an identity, rating, badges and reviews that's visible to the entire community. Assign your task to
the best Tasker that meets your requirements.</p>
					</div>
					<div class="budget-content">
						<div class="budget-icon"><i class="fa fa-money" aria-hidden="true"></i></div>
						<h4>Money secured through escrow</h4>
						<p>We all hate money dramas. Life needs to be simple. The money held in escrow acts as a guarantee both for the
Poster and Tasker.</p>
					</div>
					<div class="budget-content">
						<div class="budget-icon"><i class="fa fa-whatsapp" aria-hidden="true"></i></div>
						<h4>Reachable on WhatsApp and Facebook</h4>
						<p>Email and phone is so old school. Ask us anything on WhatsApp or Facebook Messenger. Our aim is to put a
smile on your face.</p>
					</div>
				</div>
			</div>
			
		</div>
	</div>
	
	<!--<div class="how-to-use">
		<div class="how-left">
			<h2>How Yellotasker works</h2>
			<p>With Just Three Easy Steps</p>
			<ul>
				<li><img src="assets/img/step1.png">
					<span>Post a task </span>				</li>
				<li><img src="assets/img/step2.png">
					<span>Get bids</span>				</li>
					
				<li><img src="assets/img/step3.png">
					<span>Get it done</span>				</li>
			</ul>
			<a href="#" class="get-s-h">Get started today</a>		</div>
		<div class="how-right">
			<img src="assets/img/right-how.jpg" alt="">		</div>
		<div class="play-btn">
			<img src="assets/img/play.png">		</div>
	</div>-->
	
	<div class="why-use">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 text-center why-head">
					<h2>Need extra money? Find tasks for free on Yellotasker</h2>
				</div>
			</div>
			<div class="row text-center feature-part">
				<div class="col-sm-4">
					<img src="assets/img/why1.png">
					<p>Find a task for free</p>
					<span>Yello! It’s simple, secure and free to <a [routerLink] ="['/browse-task']"><u>browse </u></a> for any tasks. If you need more details on a task, our free
messaging functionality will put you in touch with the Poster.
</span>
				</div>
				<div class="col-sm-4">
					<img src="assets/img/why3.png">
					<p>Provide quotes and complete tasks</p>
					<span>Want to earn? It’s simple and free to provide a quote to the Poster. Take up as many tasks as you can do and
complete all tasks to Poster’s requirements.
</span>
				</div>
				<div class="col-sm-4">
					<img src="assets/img/why2.png">
					<p>Request payment for task well done</p>
					<span>Yaaay! The Poster is smiling ear to ear because you’re awesome. Request the money held in escrow to be released. Help the Yellotasker community grow by writing a simple review.

</span>
				</div>
			</div>
		</div>
	</div>
	
	<div class="earn-section earn-how">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h3>Earn flexibly with no upfront costs</h3>
				</div>
			</div>
			<div class="row earn-point for-how-it">
				<div class="col-sm-12">
					<div class="earn-img">
						<img src="assets/img/earn1.png">
					</div>
					<div class="earn-content">
						<h4>Join and find a task for free!</h4>
						<p>No credit cards. No sign up fees. No buying credits. Join and instantly <a [routerLink] ="['/browse-task']"><u> browse</u></a> thousands of tasks – it’s
absolutely free to provide quotes on every one of them. Simple.
</p>
					</div>
				</div>
			</div>
			<div class="row earn-point for-how-it">
				<div class="col-sm-12">
					<div class="earn-img">
						<img src="assets/img/earn2.png">
					</div>
					<div class="earn-content">
						<h4>Earn when, how and where you want</h4>
						<p>Freedom is about doing what you want on your own time. Don’t pigeon hole yourself – you can do any variety
of tasks for the community. Nothing beats earning while doing what you enjoy.
</p>
					</div>
				</div>
			</div>
			<div class="row earn-point for-how-it">
				<div class="col-sm-12">
					<div class="earn-img">
						<img src="assets/img/earn3.png">
					</div>
					<div class="earn-content">
						<h4>Power yourself through reviews</h4>
						<p>Everybody has an identity, rating, badges and reviews that's visible to the entire community. Build your
individual or business profile on Yellotasker. Good work equals good reviews and that leads to more tasks.
</p>
					</div>
				</div>
			</div>
			<div class="row earn-point for-how-it">
				<div class="col-sm-12">
					<div class="earn-img">
						<img src="assets/img/earn3.png">
					</div>
					<div class="earn-content">
						<h4>Money secured through escrow</h4>
						<p>Everybody wants to get paid after a job well done. The money held in escrow acts as a guarantee that you will
be paid quickly and securely once the task is completed.
</p>
					</div>
				</div>
			</div>
			
			<div class="row earn-point for-how-it">
				<div class="col-sm-12">
					<div class="earn-img">
						<img src="assets/img/earn3.png">
					</div>
					<div class="earn-content">
						<h4>Track yourself via your dashboard</h4>
						<p>Set goals to earn for your next holiday or shopping spree. Your personalised dashboard allows you to track
how your skills is converting into enjoyable cash.
</p>
					</div>
				</div>
			</div>
			
		</div>
	</div>
	
	<!-- <div class="recent-task">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h2>Recently Completed Task</h2>
				</div>
			</div>
			<div class="row task-comment text-center">
				<div class="col-sm-3">
					<div class="task-box">
						<img src="assets/img/task-person.png" alt="" class="human-pic">
						<p>Lorem ipsum dolor sit amet is hjl dsj 
the dummy text  describing dummy Lorem ipsum dolor sit amet is hjl dsj 
the dummy text for describing
</p>
					
					</div>
				</div>
				<div class="col-sm-3">
					<div class="task-box">
						<img src="assets/img/task-person.png" alt="" class="human-pic">
						<p>Lorem ipsum dolor sit amet is hjl dsj 
the dummy text  describing dummy Lorem ipsum dolor sit amet is hjl dsj 
the dummy text for describing
</p>
					
					</div>
				</div>
				<div class="col-sm-3">
					<div class="task-box">
						<img src="assets/img/task-person.png" alt="" class="human-pic">
						<p>Lorem ipsum dolor sit amet is hjl dsj 
the dummy text  describing dummy Lorem ipsum dolor sit amet is hjl dsj 
the dummy text for describing
</p>
					
					</div>
				</div>
				<div class="col-sm-3">
					<div class="task-box">
						<img src="assets/img/task-person.png" alt="" class="human-pic">
						<p>Lorem ipsum dolor sit amet is hjl dsj 
the dummy text  describing dummy Lorem ipsum dolor sit amet is hjl dsj 
the dummy text for describing
</p>
					
					</div>
				</div>
			</div>
			</div>
	</div> -->
	<div class="recent-task recent-task-tiles" >
		<div  class="container">
			<div class="row">
				<div class="col-sm-12">
					<h2>Recently Posted Task</h2>
				</div>
			</div>
			<div class="row task-comment text-center" *ngIf="taskList">
				<div class="col-sm-3" *ngFor ="let item of taskList">
					<a routerLink="browse-task/{{item.id}}">
					<div class="tile three columns panel">
						<div class="top"><img class="avatar small" 
							src="{{item.user_detail.profile_image?item.user_detail.profile_image:
								'assets/img/task-person.png'}}"  alt="" >
						<div class="heading"><span class="date">
							{{item.title.length>50?item.title.substring(0, 45)+'...':item.title}}</span></div></div>
						<div class="clear"></div><div class="details"><span class="description">
						 {{item.description.length>65?item.description.substring(0, 65)+'...':item.description}} 
							</span></div>
						 <div class="location-date">
								<span><i class="fa fa-location-arrow"></i> {{item.locationType}}</span>
								<span><i class="fa fa-calendar"></i> Due Date {{item.dueDate | date}}</span>
							</div>
						 </div>
						</a>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 see-more-cat-btn text-center">
					<a [routerLink] ="['/browse-task']">Browse more task</a>
				</div>
		   </div>
		 </div>
	 </div>
	
	