<div _ngcontent-c1="" class="about-page trust-main text-center" style="
    margin-top: 115px;
">
    <div _ngcontent-c1="" class="container">
    <h2 _ngcontent-c1="">Yellotasker’s Trust and Security policy</h2>
    <p _ngcontent-c1="">Trust grows in a friendly environment for any community. To help and quicken this growth we created these standards based on our experience interacting with members of the Yellotasker community</p>
       <h3 _ngcontent-c1="" style="text-align:left">Visible profiles of Posters and Taskers</h3>
      <p _ngcontent-c1="" style="text-align:left">
          
          All defined terms in this Agreement have the meaning given to them in the Yellotasker Glossary.
        
        </p>
   </div>
  
  <div _ngcontent-c1="" class="container" style="text-align:left; padding-bottom:40px">
       
  <div _ngcontent-c1="" class="trust-content">
           <h3 _ngcontent-c1="">Privacy is a priority</h3>
          <p _ngcontent-c1="">Everybody loves their privacy and we do too. Our technology is built to keep your contact details hidden until you choose to share it. Posters and Taskers can message and call each other securely using our app</p>
          </div>
  <div _ngcontent-c1="" class="trust-content">
           <h3 _ngcontent-c1="">Escrow upfront, pay when happy</h3>
          <p _ngcontent-c1="">Everybody’s at ease when they’re in control of their money. We use MOLPay escrow to ensure a seamless and secure way to get your tasks completed. When a Poster accepts a quote on a task, the agreed amount for the task is held securely in escrow – this way the Tasker can start work straight away knowing that payment is secured. Money will only be released when the Poster is 100% happy with the task completed</p>
          </div><div _ngcontent-c1="" class="trust-content">
           <h3 _ngcontent-c1="">Quick and fair resolutions</h3>
          <p _ngcontent-c1="">Everybody hates dramas. We guarantee our best effort to resolve any issues that arise within the Yellotasker community. Quickly and fairly. We are available on Whatsapp and Facebook Messenger to help you answer any questions. You can also go old school and reach us on email or phone</p>
          </div>
      
      </div>
  <div _ngcontent-c1="" class="container" style="text-align:left; padding-bottom:40px">
      <h2 _ngcontent-c1="" style="
      margin:  0px;
      padding: 9px 0px;
      background: #34495e;
      color:  #fff;
      padding-left:  15px;
      border-radius: 5px;
      font-size: 24px;
  ">Yellotasker community values

      </h2>
  <p _ngcontent-c1="" style="
      margin-top:  15px;
  ">Yellotasker is a trusted community platform that connects people who need tasks done, with people who are looking to earn money and ready to work. Our values guide all of our actions within the growing community. </p>
  
  <div _ngcontent-c1="" class="trust-content">
           <h3 _ngcontent-c1="">Trust</h3>
          <p _ngcontent-c1="">We don’t settle for anything less than being honest in every interaction at Yellotasker. We have the courage to admit when we’re wrong and the commitment to change. Read more about our co-founders and trust here.</p>
          </div>
  
  <div _ngcontent-c1="" class="trust-content">
           <h3 _ngcontent-c1="">Friendly fun</h3>
          <p _ngcontent-c1="">We love our friends because they help us appreciate the journey. Collaboration and interaction with various stakeholders allows us to think and build a vibrant and trusted community in a way that others cannot</p>
          </div>
  
  <div _ngcontent-c1="" class="trust-content">
           <h3 _ngcontent-c1="">Uniquely curious
  
  </h3>
          <p _ngcontent-c1="">We know it's wisdom to say no to thousands of good ideas so that we can focus on the great few that are uniquely important and meaningful to us.</p>
          </div>
  
  
  
  <div _ngcontent-c1="" class="trust-content">
           <h3 _ngcontent-c1="">Simple yet effective
  </h3>
          <p _ngcontent-c1="">We believe in the simple, not the complicated. The reliable, not the trust-me-this-works. </p>
          </div><div _ngcontent-c1="" class="trust-content">
           <h3 _ngcontent-c1="">Fair and transparent
  </h3>
          <p _ngcontent-c1="">We believe that thousands of opportunities must equally go to thousands of people. It's this balance that guides our transactions and resolutions processes
  </p>
          </div>
  </div>
   </div>