<div class="community-guideline">
    <div class="container">
     <div class="row">
      <div class="col-sm-4">
       <img src="assets/img/join-us.jpg">
      </div>
      <div class="col-sm-8">
       <h2>Earn flexibly with no upfront costs
  
  </h2>
  <h3 style="color:#fff; margin-top:0px;">Join and find a task for free!</h3>
    <p style="line-height:24px; color:#eee;">No credit cards. No sign up fees. No buying credits. Join and instantly browse thousands of tasks – it’s absolutely free to provide quotes on every one of them. Simple.  
  </p>
      </div>
     </div>
    </div>
   </div>
   <div class="community-content">
    <div class="container">
     <div class="row">
      <div class="col-sm-3">
       <div class="earn-block">
        <h4>Earn when, how and where you want</h4>
        <p>Freedom is about doing what you want on your own time. Don’t pigeon hole yourself – you can do any variety of tasks for the community. Nothing beats earning while doing what you enjoy. </p>
       </div>
      </div>
      <div class="col-sm-3">
       <div class="earn-block">
       <h4>Power yourself through reviews</h4>
        <p>Everybody has an identity, rating, badges and reviews that's visible to the entire community. Build your individual or business profile on Yellotasker. Good work equals good reviews and that leads to more tasks.   </p>
        </div>
      </div>
      <div class="col-sm-3">
       <div class="earn-block">
       <h4>Money secured through escrow</h4>
        <p>Everybody wants to get paid after a job well done. The money held in escrow acts as a guarantee that you will be paid quickly and securely once the task is completed.  </p>
        </div>
      </div>
      <div class="col-sm-3">
       <div class="earn-block">
       <h4>Track yourself via your dashboard</h4>
        <p>Set goals to earn for your next holiday or shopping spree. Your personalised dashboard allows you to track how your skills is converting into enjoyable cash. </p>
        </div>
      </div>
     </div>
    </div>
   </div>
  <div _ngcontent-c1="" class="container" style="text-align:left; padding-bottom:40px">
</div>

      
      