<div class="profile-main-content">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 head-pro text-center">
				<h3>Dashboard</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="dashboard-main">
					<div class="refer-a-friend text-center">
						<img src="assets/img/refer.png" height="90px;">
						<h4><b>Get free Yellotasker Credit</b></h4>
						<p>
Invite a friend to try Yellotasker with 25 MYR towards their first task.
Once it’s completed, you’ll get 10 MYR Yellotasker Credit*<br/>
*Terms and conditions apply. Find out more <a href="#">here</a><br/>
<a href="#" class="refer-link">Refer A Friend</a>
						</p>
					</div>
				</div>
				<div class="profile-tabs dashborad-profile">
					 <!-- Nav tabs --><div class="card-profile">
								
								<!-- Tab panes -->
								<div class="tab-content">
									<div role="tabpanel" class="tab-pane active" id="home">
										<div class="as-poster-left">
											<div class="user-intro-pic">
												<img src="assets/img/user-intro-pic.png">
											</div>
											<div class="user-intro-content">
												<div class="intro-head">
													<p>Name :</p>
													<p>Character:</p>
													<p>Status:</p>
													<p>Level:</p>
													<p class="rating"></p>
												</div>
												<div class="intro-detail">
													<p>Isobel Wormald</p>
													<p>Lorem ipsum</p>
													<p>Lorem ipsum</p>
													<p>A</p>
												</div>
											</div>
											
											<div class="performance-profile">
												<p><img src="assets/img/success-btn.png"> <span>80% Task Completed on time</span></p>
												<p><img src="assets/img/success-btn.png"> <span>50 Jobs Done</span></p>
												<p><img src="assets/img/success-btn.png"> <span>600 MYR cash earned</span></p>
												
												<p class="badge-content text-center">
													<img src="assets/img/badge.png" style="display:block; margin:-35px auto 13px auto">
													Lorem Ipsum is simply dummy text of the printing and typesetting industry.  Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
												</p>
												<p></p>
											</div>
											
										</div>
										<div class="as-poster-right">
											<h4 class="rq-about">About</h4>
											<p>I’m new in Sydney, looking for new working experiences! As a PR specialist, i have multitask skills! I used to work in events and hospitality, such as in a office!</p>
											<h4 class="">Skill</h4>
											<p>This user has not added any skills yet.</p>
											
											<div class="recent-profile-activity">
												<p class="text-center review-bg"><span>Notification</span></p>
												<div class="recent-pic">
													<img src="assets/img/recent-pic.png">
												</div>
												<div class="recent-detail">
													<p><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></p>
													<p style="color:#666; font-size:13px; margin-top:-10px;">7 Days ago</p>
													<p style="margin-top:-10px;"><a>Help out at a fun family event</a>
Shane H. said “What a superstar. Thanks for all the hard work.”</p>
												</div>
												<div class="recent-pic">
													<img src="assets/img/recent-pic.png">
												</div>
												<div class="recent-detail">
													<p><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></p>
													<p style="color:#666; font-size:13px; margin-top:-10px;">7 Days ago</p>
													<p style="margin-top:-10px;"><a>Help out at a fun family event</a>
Shane H. said “What a superstar. Thanks for all the hard work.”</p>
												</div>
												<div class="recent-pic">
													<img src="assets/img/recent-pic.png">
												</div>
												<div class="recent-detail">
													<p><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></p>
													<p style="color:#666; font-size:13px; margin-top:-10px;">7 Days ago</p>
													<p style="margin-top:-10px;"><a>Help out at a fun family event</a>
Shane H. said “What a superstar. Thanks for all the hard work.”</p>
												</div>
												
											</div>
											
										</div>
									</div>
									<div role="tabpanel" class="tab-pane" id="profile">
										
									</div>
								</div>
</div>
				</div>
			</div>
		</div>
	</div>

</div>