<div class="community-guideline">
    <div class="container">
     <div class="row">
      <div class="col-sm-4">
       <img src="assets/img/community.jpg">
      </div>
      <div class="col-sm-8">
       <h2>Yellotasker community values</h2>
    <h4 style="line-height:36px; color:#eee;">Yellotasker is a trusted community platform that connects people who need tasks done, with people who are looking to earn money and ready to work. Our values guide all of our actions within the growing community. 
  </h4>
      </div>
     </div>
    </div>
   </div>
   <div class="community-content">
    <div class="community-block">
     <h4>Trust</h4>
     <p>We don’t settle for anything less than being honest in every interaction at Yellotasker. We have the courage to admit when we’re wrong and the commitment to change. Read more about our co-founders and trust here.</p>
    </div>
    <div class="community-block">
     <h4>Friendly fun</h4>
     <p>We love our friends because they help us appreciate the journey. Collaboration and interaction with various stakeholders allows us to think and build a vibrant and trusted community in a way that others cannot</p>
    </div>
    <div class="community-block">
     <h4>Uniquely curious</h4>
     <p>We know it's wisdom to say no to thousands of good ideas so that we can focus on the great few that are uniquely important and meaningful to us.</p>
    </div>
    <div class="community-block">
     <h4>Simple yet effective</h4>
     <p>We believe in the simple, not the complicated. The reliable, not the trust-me-this-works.</p>
    </div>
    <div class="community-block">
     <h4>Fair and transparent</h4>
     <p>We believe that thousands of opportunities must equally go to thousands of people. It's this balance that guides our transactions and resolutions processes</p>
    </div>
   </div>